body{
}
header, footer{
    min-height: 70px;
    color: white;
}
header a, footer a{
    color: white;
}
header{
    min-height: 60px;
    max-height: 100px;
    background-color: #2a3f54;
}
header a,p,span{

}
.left-sidebar{
    background-color: #2a3f54;
    color: white;
    padding: 0;
    height: 100%;
    box-shadow: 0px 1px 2px black;
}
.left-sidebar nav{
    min-height: auto;
}
.left-sidebar nav ul{
    padding: 0;
}
.left-sidebar nav li:first-child{
}
.left-sidebar nav li{
    list-style: none;
    padding: 20px 12px;
    transition: all 0.2s ease-in;
    border-bottom: 3px solid #213043;
}
.left-sidebar nav li > *{ display: inline-block; }
.left-sidebar nav li > i {
    padding-right: 15px;
}
.left-sidebar nav li:hover{
    border-left: 5px solid #205f9a;
    background-color: #0c5460;
}
.left-sidebar nav li > a:hover{ text-decoration: none; }
.left-sidebar .drop-list{
    display: none;
}
.left-sidebar .drop-list li,.left-sidebar .drop-list li:first-child{
    border: none;
    padding: 10px 2px;
}

.left-sidebar nav li:hover, .left-sidebar nav a{
    color: white;
}
footer{
    background-color: #2b4f78;
}
main{
    width: auto;
    min-height: 768px;
    background-color: #fafafa;
}
.profile-block{
    padding: 10px 20px;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 6px;
    display: block;
    box-shadow: 1px 1px 10px #dfdfdf;
    margin: 15px 0;
}
.profile-block-content .friend-photo{
    max-width: 68px;
    max-height: 68px;
}
.profile-block-content .friend-link{
    display: block;
}
.photo-profile{
    max-height: 250px;
    display: block;
    margin: 0 auto;

}.feed .profile-block-header{
    display: flex;

 }
.feed .profile-block-header .avatar{
    align-self: center;
    max-width: 68px;
    max-height: 68px;
}
.feed .profile-block-header .post-author{
    margin-bottom: 0;
}
.feed .profile-block-header .post-date{
    color: #bfbfbf;
    font-size: 14px;
}
.messages,.messages-private{
    height: 300px;
    overflow-y: scroll;
}
.message .name{
    font-weight: bold;
    color: #2b4f78;
    margin: 0;
}

.friends-navigation ul{
    padding: 0 5px;
}
.friends-navigation ul li{
    list-style: none;
}
div{
    padding: 0;
    margin: 0;
}
.no-gutter > [class*='col-'] {
     padding-right:0;
     padding-left:0;
}
.dashboard-content{
    margin: 15px 1px;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid #ededed;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}
