body{
}
header, footer{
    min-height: 70px;
    color: white;
}
header a, footer a{
    color: white;
}
header{
    background-color: #2c5578;

}
footer{
    background-color: #2b4f78;
}
main{
    background-color: #f5f5f5;
    min-width: 350px;
    padding: 25px 0;
}